<footer class="footer container-fluid mt-5">
    <div class="container my-sm-5">
        <ul class="centerLinks socialIcons">
            <li style="display:inline-block"><a href="https://twitter.com/ductn4"><img src="/img/icons/twitter.png" /></a></li>
            <li style="display:inline-block"><a href="https://www.instagram.com/ductn4/"><img src="/img/icons/instagram.png" /></a></li>
            <li style="display:inline-block"><a href="https://github.com/ductnn"><img src="/img/icons/github.png" /></a></li>
            <li style="display:inline-block"><a href="https://www.linkedin.com/"><img src="/img/icons/linkedIn.png" /></a></li>
        </ul>
    </div>
    <div class="bottomLinksDiv">
        <div class="container">
            <div class="row">
                <div class="col-6 col-md"><a href="/">Home</a></div>
                <div class="col-md rm">
                    <p>|</p>
                </div>
                <div class="col-6 col-md"><a href="/about/">About</a></div>
                <div class="col-md rm">
                    <p>|</p>
                </div>
                <div class="col-6 col-md"><a href="https://github.com/ductnn">Project</a></div>
                <div class="col-md rm">
                    <p>|</p>
                </div>
                <div class="col-6 col-md"><a href="../pdf/ductn_CV.pdf">Resume/CV</a></div>
            </div>
        </div>
    </div>
</footer>
