<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/"> 
            <img class="rotate360" src="/img/D_title.png" width="40"/>
            <span>&nbsp</span>
            <strong>Ductn Blog</strong>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="navbar-header page-scroll">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
                    <i class="fa fa-bars"></i>
                </button>
            </div>
            <div class="collapse navbar-collapse justify-content-end" id="navbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="nav-link active" href="/">Home</a></li>
                    <li><a class="nav-link active" href="/about/">About</a></li>
                    <li><a class="nav-link active" href="https://github.com/ductnn">Project</a></li>
                    <li><a class="nav-link active" href="/pdf/ductn_CV.pdf">Resume/CV</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
