<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/"> 
            <img class="rotate360" src="/img/D_title.png" width="40"/>
            <span>&nbsp</span>
            <strong>Ductn Blog</strong>
        </a>
        <div id="ductn_navbar">
            <div class="navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="nav-link active" href="{{ site.baseurl }}/">Home</a></li>
                    <li><a class="nav-link active" href="/about/">About</a></li>
                    <li><a class="nav-link active" href="https://github.com/ductnn">Project</a></li>
                    <li><a class="nav-link active" href="/pdf/ductn_CV.pdf">Resume/CV</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<script>
    var $navbar = document.querySelector('#ductn_navbar');
    var $collapse = document.querySelector('.navbar-collapse');

    var __DucNav__ = {
        close: function () {
            $navbar.className = " ";
            // wait until animation end.
            setTimeout(function () {
                // prevent frequently toggle
                if ($navbar.className.indexOf('in') < 0) {
                    $collapse.style.height = "0px"
                }
            }, 400)
        },
        open: function () {
            $collapse.style.height = "auto"
            $navbar.className += " in";
        }
    }

    // Bind Event
    $toggle.addEventListener('click', function (e) {
        if ($navbar.className.indexOf('in') > 0) {
            __DucNav__.close()
        } else {
            __DucNav__.open()
        }
    })
</script>
